body {
    padding: 0;
    margin: 0;
}

.rain {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Garante que a chuva cubra toda a altura da janela */
    pointer-events: none; /* Garante que a chuva não interfira na interação do usuário com outros elementos */
}

hr {
    width: 5px;
    height: 20px;
    border-color: transparent;
    border-right-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    bottom: 100%;
    animation-name: rain;
    animation-duration: 0.2s, 0.6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: alternate;
}

@keyframes rain {
    0% {
        transform: translateY(0vh);
    }

    100% {
        transform: translateY(100vh); 
    }
}
